# any cluster host to use as endpoint
TARGET="ydb_host1.com"
DATABASE_PATH="db"
STATIC_NODE_GRPC_PORT=2135

# shooting hosts, i.e. YCSB instance runners
YCSB_HOSTS="ycsb_host1.com ycsb_host2.com etc"

YCSB_HOSTS_COUNT="<COUNT>"

# YCSB path on YCSB_HOSTS
# if ycsb is already exist on YCSB_HOSTS, you can write instead of what is below:
# YCSB_PATH="<PATH_TO_YCSB>"
YCSB_TAR_PATH="<PATH_TO_YCSB_TAR>"
YCSB_DEPLOY_PATH="<PATH_TO_DEPLOY>"
