# any cluster node to use as endpoint
TARGET="host1.com"

# shooting nodes, i.e. YCSB instance runners
YCSB_NODES="host2.com host3.com host4.com"

YCSB_NODES_COUNT="3"

# YCSB path on YCSB_NODES
# if ycsb is already exist on YCSB_NODES, you can write instead of what is below:
# YU_YCSB_PATH="<PATH_TO_YCSB>"
YU_YCSB_TAR_PATH="<PATH_TO_YCSB_TAR>"
YU_YCSB_DEPLOY_PATH="/benchmark/ycsb-yugabyte"

# YUGABYTE path on TARGET
YU_PATH="<PATH_TO_YUGABYTE>"
